<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>


    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }
    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }
    tr:nth-child(even) {
    background-color: #dddddd;
    }
    a{
    text-decoration: none;
    width: 70px;
    height: 50px;
    background: purple;
    color: white;
    }
    button{
    width: 70px;
    height: 30px;
    background: purple;
    color: white;
    }
    input{
    font-size: 1rem;
    text-emphasis: wrap;  
    padding: 0.4em 1em;
    }
    
    #create {
        left: 100px;
    padding-left: 49px;
    justify-content: center;
    }

    </style>
<body>

    <div id="view">
        <h2 style="display: inline;">Available Data</h2>
        <form>
            <button  id = "submit-btn5" style = "float: right;
            width: 100px;
            margin-bottom: 10px;" formmethod = "post" formaction="/todo" type="submit" > Create ToDo</button>

        </form>
        

        <table>
            <tr>
            <th>Title</th>
            <th>Subject</th>
            <th>Description</th>
            <th>Delete</th> 
            </tr>
            <tr>     
                <% for(var i = 0; i < data.length; i++) { %>
                    <tr>     
                <td> <%= data[i].title %></td>
                <td> <%= data[i].subject %></td>
                <td> <%= data[i].description %></td>
                <td>
                    <form >
                        <button 
                            name='gotoNode' id = "deleteBtn" formmethod = "post" formaction="/delete" value="<%= data[i]._id  %> <%= token %>">Delete</button>
                    </form>
                    
                
                </td>   
                </tr>   
                <% } %>     

        </tr>   
        </table>
        <input style="display: none" id="jwtToken" name="token" value="<%= token %>"></input>
    </div> 
</body>
<script>
    
        const jwtToken = document.getElementById("jwtToken").value
        localStorage.setItem("jwtToken",jwtToken)
    
</script>